@import url("../assets/bootstrap/css/bootstrap.min.css");
body {
  margin: 0 2rem;
  background-image: linear-gradient(
    to bottom,
    white,
    #fcfcfc,
    #f5eded,
    #f3f0f0,
    #f3f0f0,
    #f7f1f1,
    rgb(206, 195, 195)
  );
  height: 100%;
}
.author {
    font-size: 13px;
    color: grey;
  }
.mynavbar {
  background-color: white !important;
  font-weight: 500;
  margin: 2rem 3rem 1rem 3rem;
}
.navbar__logo {
  max-width: 5rem;
  margin-right: 3rem;
}
.navbar__signinbutton {
  margin-right: 1rem;
  background-color: #f1f1f2 !important;
  font-weight: 500;
  width: 5rem;
}
.navbar__signupbutton {
  font-weight: 500;
  width: 5rem;
  background-color: #f5d016 !important;
}
/* sectionone */
.sectionone {
  background-image: url(../assets/images/autumn-studio-zv3ckJKftC4-unsplash.jpg);
  height: 75vh;
  border-radius: 0.3rem;
  background-size: cover;
}

.sectionone__col {
  margin-top: 2rem;
  height: 23rem !important;
}
.sectionone__col > .card {
  height: 100%;
  border-radius: 0.5rem;
}
.sectionone__col > .card > img {
  width: 100%;
  height: 22vw;
  padding: 0.7rem;
  border-radius: 1.2rem;
  object-fit: cover;
}
.sectionone__col--body > h5 {
  font-size: 13px;
  margin-top: -1.2rem;
  margin-bottom: -0.01rem;
  color: grey;
}
.sectionone__col--body > p {
  font-size: 18px;
  padding-bottom: 4rem !important;
  font-weight: 500;
  margin: 0;
}
/* Section Two */
/* .sectionbackground {
  /* background-color: #FAFAFA; */
/* margin: 0 -2.6rem; */
/* width: 100% !important; */
/* background-image: linear-gradient(to right, red, yellow); */
/* } */
.sectiontwo {
  height: 70vh;
  margin-top: 1rem;
}
/* .sectiontwo__col { */
/* height: 60vh; */
/* } */
.sectiontwo__col > .card {
  height: 99vh;
  border: none;
}
.sectiontwo__col > .card > img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.title-link {
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: black;
  width: 6rem;
  font-size: 1.25rem;
}
/* Hover */
.title-link {
  position: relative;
}

 .title-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #f5d016;
  color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.title-link:hover:before {
  visibility: visible;
  color: black;
  width: 100%;
}
/* Hover */
.sectiontwo__col-body--author {
  font-size: 15px;
}
.sectiontwo__col--body > p {
  font-size: 14px;
  font-weight: 500;
}
 .sectiontwobtn {
  background-color: #f1f1f2;
  font-weight: 500;
  text-align: center;
  width: 6rem;
  /* margin-bottom: 1rem; */
}
.sectiontwo__col--body > .product {
  margin-top: 4.3rem;
}
.sectiontwo__col--body > .interior {
  margin-top: 1.1rem;
}
.sectiontwo__col--body > .story {
  margin-top: 2.5rem;
}
.sectiontwobtn:hover {
  background-color: #f5d016;
}
/* Section Three */
.sectionthree {
  /* height: 100vh; */
  margin-top: 12rem;
}
 .card {
    /* height: auto; */
  height: 100% !important;
  border: none;
}
.sectionthree__col > .card>img {
    height: 52vh !important;
    border-radius: 0.3rem;
  }
